# Python cache and compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit temp files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/